body {
	background: url(../img/mount.jpg) no-repeat center / cover ;
	height: 100vh;
}

.name {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	color: black;
}
