body {
	padding: 0;
	margin: 0;
	font-family: Montserrat,sans-serif;
}

.product {
	border-top: 1.5px solid #dcc9c9;
	padding-top: 10px;
}

.product_top {
	padding-left: 163px;
	display: flex;
}

.product_rating {
	font-size: 10px;
	color: #792c9b;
}
.reviews {
	color: #6e6464;
	font-family: Arial;
	font-size: 12px;
	padding-left: 10px;
	margin: 0;
}

.product_info {
	display: flex;
}

.product_img {
	flex-basis: 148px;
}

.img_winter { 
	max-width: 100%;
}

.product_property {
	padding: 5px 0 0 5px;
	margin: 10px;
	flex-grow: 3;
}

.product_name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #333;
}

.product_en_name {
	color: #666;
	font-size: 13px;
	padding-top: 8px;
}

.product_ml {
	color: #666;
	font-size: 10px;
	padding-top: 7px;
}

.product_code {
	color: #999999;
	font-size: 11px;
	padding-top: 7px;
}

.product_cost {
	padding-top: 70px;
}

.product_sale {
	color: grey;
	font-size: 13px;
	text-decoration: line-through;
}

.product_add {
	flex-basis: 30%;
	text-align: center;
	min-width: 30%;
}

.button {
	background: #792c9b;
	color: #fff;
	padding: 11px 40px;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 180px;
	border-radius: 3px;
	box-shadow: 10px 10px 10px 0 #333;
}

.product_info {
	display: flex;
}

.img_aloe {
	max-width: 127%;
}

