body {
	padding: 0;
	margin: 0;
	font-family: Montserrat,sans-serif;
}

.product_top {
	padding-left: 370px;
	display: flex;
}

.product_rating {
	font-size: 10px;
	color: #792c9b;
}
.button {
	color: #6e6464;
	font-family: Arial;
	font-size: 12px;
	padding-left: 10px;
	margin: 0;
}

.product_winter_info {
	display: flex;
}

.img_winter { 
	max-width: 50%;
}

.product_property {
	padding: 5px 0 0 5px;
	margin: 10px;
}

.product_name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #333;
}

.product_en_name {
	color: #666;
	font-size: 13px;
	padding-top: 8px;
}

.product_ml {
	color: #666;
	font-size: 10px;
	padding-top: 7px;
}

.product_code {
	color: #999999;
	font-size: 11px;
	padding-top: 7px;
}

.product_cost {
	padding-top: 70px;
}

.button_buy {
	background: #792c9b;
	color: #fff;
	width: 160px;
	padding: 7px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 180px;
}

.product_aloe_info {
	display: flex;
}

.img_aloe {
	max-width: 45%;
}